<!DOCTYPE html>
<html lang="zh-CN">
<head>
	<meta charset="utf-8">
	<title>Webapp Example</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta http-equiv="Content-Language" content="zh-CN" />
</head>
<body class="doc">
<div class="doc-nav">
	<div class="nav-section nav-header">
		<h1>开发文档</h1>
	</div>
	<div class="nav-section">
		<h2 class="section-title">基本组件</h2>
		<div class="nav-section">
			<h2 class="section-title">basic</h2>
			<ul>
				<li><a href="#section-layout">Layout 布局</a></li>
				<li><a href="#section-color">Color 色彩</a></li>
				<li><a href="#section-icon">icon 图标</a></li>
				<li><a href="#section-button">按钮</a></li>
			</ul>
		</div>
	</div>
</div>
<div class="container container-fixed">
	<h2>基本组件</h2>
	<div class="section" id='section-layout'>
		<h3>栅格系统</h3>
		<div class="grid">
			<div class="col col-dark text-center col-xl-1">col-xl-1</div>
			<div class="col text-center col-xl-23">col-xl-23</div>
			<div class="col col-dark text-center col-xl-2">col-xl-2</div>
			<div class="col text-center col-xl-22">col-xl-22</div>
			<div class="col col-dark text-center col-xl-3">col-xl-3</div>
			<div class="col text-center col-xl-21">col-xl-21</div>
			<div class="col col-dark text-center col-xl-4">col-xl-4</div>
			<div class="col text-center col-xl-20">col-xl-20</div>
			<div class="col col-dark text-center col-xl-5">col-xl-5</div>
			<div class="col text-center col-xl-19">col-xl-19</div>
			<div class="col col-dark text-center col-xl-6">col-xl-6</div>
			<div class="col text-center col-xl-18">col-xl-18</div>
			<div class="col col-dark text-center col-xl-7">col-xl-7</div>
			<div class="col text-center col-xl-17">col-xl-17</div>
			<div class="col col-dark text-center col-xl-8">col-xl-8</div>
			<div class="col text-center col-xl-16">col-xl-16</div>
			<div class="col col-dark text-center col-xl-9">col-xl-9</div>
			<div class="col text-center col-xl-15">col-xl-15</div>
			<div class="col col-dark text-center col-xl-10">col-xl-10</div>
			<div class="col text-center col-xl-14">col-xl-14</div>
			<div class="col col-dark text-center col-xl-11">col-xl-11</div>
			<div class="col text-center col-xl-13">col-xl-13</div>
			<div class="col col-dark text-center col-xl-12">col-xl-12</div>
			<div class="col text-center col-xl-12">col-xl-12</div>
			<div class="col col-dark text-center col-xl-24">col-xl-24</div>
		</div>
	</div>
	<div class="section" id="section-color">
		<h3>Color 颜色</h3>
		<p>为了避免视觉传达差异，使用一套特定的调色板来规定颜色，为你所搭建的产品提供一致的外观视觉感受。</p>
		<h4>品牌颜色</h4>
		<div class="colors clear-float">
			<div class="color-item color-item-red col-xl-3"></div>
			<div class="color-item color-item-orange col-xl-3"></div>
			<div class="color-item color-item-yellow col-xl-3"></div>
			<div class="color-item color-item-olive col-xl-3"></div>
			<div class="color-item color-item-green col-xl-3"></div>
			<div class="color-item color-item-teal col-xl-3"></div>
			<div class="color-item color-item-blue col-xl-3"></div>
			<div class="color-item color-item-violet col-xl-3"></div>
			<div class="color-item color-item-purple col-xl-3"></div>
			<div class="color-item color-item-pink col-xl-3"></div>
			<div class="color-item color-item-brown col-xl-3"></div>
			<div class="color-item color-item-grey col-xl-3"></div>
			<div class="color-item color-item-black col-xl-3"></div>
		</div>
	</div>
	<div class="section">
		<h3>文字颜色</h3>
		<p class="text-primary">text-primary</p>
		<p class="text-success">text-success</p>
		<p class="text-info">text-info</p>
		<p class="text-warning">text-warning</p>
		<p class="text-danger">text-danger</p>
	</div>
	<div class="section">
		<h3>背景颜色</h3>
		<div class="clear-float">
			<div class="bg-primary col-xl-4 text-center">bg-primary</div>
			<div class="bg-success col-xl-4 text-center">bg-success</div>
			<div class="bg-info col-xl-4 text-center">bg-info</div>
			<div class="bg-warning col-xl-4 text-center">bg-warning</div>
			<div class="bg-danger col-xl-4 text-center">bg-danger</div>
			<div class="bg-grey col-xl-4 text-center">bg-danger</div>
		</div>
	</div>
	<div class="section" id="section-icon">
		<h3>icon 图标</h3>
		<p>基础图标使用了<a href="http://fontawesome.io/icons/">fontawesome</a></p>
		<h4>41 New Icons in 4.7</h4>
		<ul class="icon-list">
			<li class="col-xl-4"><a href="http://fontawesome.io/icon/address-book"><i class="fa fa-address-book" aria-hidden="true"></i>address-book</a></li>
		</ul>
	</div>
	<div class="section" id="section-button">
		<h3>按钮</h3>
		<div class="clear-float">
			<button class="btn">默认按钮</button>
			<button class="btn btn-primary">主按钮</button>
			<button class="btn btn-success">成功按钮</button>
			<button class="btn btn-warning">警告按钮</button>
			<button class="btn btn-danger">危险按钮</button>
			<button class="btn btn-info">信息按钮</button>
			<button class="btn btn-link">文字按钮</button>
		</div>
	</div>
</div>
</body>
</html>