<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Webapp Sample</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta http-equiv="Content-Language" content="zh-CN" />
</head>
<body>
	<h1>about page!</h1>
	<div class="test" style="width:300px; margin:0 auto;">
		<img src="../../assets/images/logo.jpg" alt="">
		<img src="../../assets/images/logo.png" alt="">
		<img src="../../assets/images/logo.svg" alt="">
		<img src="../../assets/images/loading.gif" alt="">
	</div>
</body>
</html>